<!-- register/index.html -->
<!DOCTYPE html>
<html>
<head>
<title>IndoorAir | Retrieve Profile</title>
</head>
<body>
    <script>
        {% include "userprofile/retrieve.js" %}
    </script>

    <h1>Retrieve Profile</h1>
    <p>
    First Name:
    <input id="first_name" name="first_name" type="text" readonly></input>
    </p>

    <p>
    Last Name:
    <input id="last_name" name="last_name" type="text" readonly></input>
    </p>

    <p>
    Last Name:
    <input id="email" name="email" type="text" readonly></input>
    </p>

    <p>
    username:
    <input id="username" name="username" type="text" readonly></input>
    </p>

    <p>
    <button type="button" onclick="onBackClick()">Back</button>
    <button type="button" onclick="onUpdateClick()">Update</button>

    </p>
</body>
</html>
