<!-- register/index.html -->
<!DOCTYPE html>
<html>
<head>
<title>IndoorAir | Update Profile</title>
</head>
<body>
    <script>
        {% include "pages/userprofile/update.js" %}
    </script>

    <h1>Update Profile</h1>
    <p>
    First Name:
    <input id="first_name" name="first_name" type="text"></input>
    </p>

    <p>
    Last Name:
    <input id="last_name" name="last_name" type="text"></input>
    </p>

    <p>
    Last Name:
    <input id="email" name="email" type="text"></input>
    </p>

    <p>
    username:
    <input id="username" name="username" type="text"></input>
    </p>

    <p>
    <button type="button" onclick="onBackClick()">Back</button>
    <button type="button" onclick="onSubmitClick()">Submit</button>

    </p>
</body>
</html>
