<!-- register/index.html -->
<!DOCTYPE html>
<html>
<head>
<title>IndoorAir | Retrieve Instrument</title>
</head>
<body>
    <script>
        {% include "pages/instrument/retrieve.js" %}
    </script>

    <h1>Retrieve Instrument</h1>
    <p>
    ID:
    <input id="id" name="id" type="text" readonly></input>
    </p>
    <p>
    Name:
    <input id="name" name="name" type="text" readonly></input>
    </p>

    <p>
    <button type="button" onclick="onBackClick()">Back</button>
    <button type="button" onclick="onUpdateClick()">Update</button>

    </p>
</body>
</html>
